@mixin point($distance) {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--timeline-point);
  border-radius: 50%;
  position: absolute;
  top: $distance;
  left: calc(50% - 12px);
  background-color: var(--timeline-background);
}

.timeline-item {
  position: absolute;
  left: 10px;
  width: 300px;
  height: 300px;
  color: var(--timeline-color);
  background-color: var(--timeline-background);
  box-shadow: 0px 0 10px 4px var(--timeline-background);
  padding: 4px;
  border-radius: 20px;

  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
  }

  &.top {
    top: -340px;

    .point {
      @include point(336px);
    }
  }
  &.bottom {
    top: 50px;

    .point {
      @include point(-54px);
    }
  }
}

.date {
  font-weight: bold;
}

.date-container {
  text-align: center;
}

.flex {
  margin: 8px 12px;
  gap: 4px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
