section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 32px;
  gap: 32px;

  @media (max-width: 600px) {
    padding: 16px;
    grid-template-columns: 1fr;
  }
}

h2 {
  font-size: 2rem;
}

p,
ul {
  font-size: 1.4rem;
}

.title {
  font-size: 1.7rem;
}
