<section id="about">
  <h2>About me</h2>
  <div class="container">
    <div class="item">
      <div>
        <p class="title"><strong>Education</strong></p>
        <p>
          I have gained knowledge in various fields of computer science,
          including:
        </p>
        <ul>
          <li>Software development (back-end, front-end)</li>
          <li>Parallel computing and distributed systems</li>
          <li>Algorithms</li>
          <li>Data processing and analysis</li>
          <li>Neural networks</li>
        </ul>
        <p>
          I have also honed my communication, problem-solving, and analytical
          skills through continuous learning and practical application.
        </p>
      </div>
    </div>
    <div class="item">
      <div>
        <p class="title"><strong>Work</strong></p>
        <p>
          During my tenure as a developer, I actively contributed to software
          development and bug fixing across both server and client components.
          This role allowed me to collaborate closely with a diverse team of
          programmers, UX designers, and testers, ensuring the delivery of
          high-quality software solutions
        </p>
      </div>
    </div>
    <div class="item">
      <div>
        <p class="title"><strong>Goal</strong></p>
        <p>
          Dedicated time and accumulated experience have allowed me to identify
          my favorite technologies and goals that guide me in task execution. My
          main focus is on creating readable code, even if it requires
          time-consuming refactoring. In my work, I highly value continuous
          learning and exploring new techniques, as well as effective
          collaboration with team members. I strive to create software that
          meets the highest quality standards - something I would want to use in
          my daily tasks.
        </p>
      </div>
    </div>
  </div>
</section>
