@import "../style/style";

.skill-style {
  @include font-size(3rem);

  &.image {
    display: inline-block;
    width: 40px;
    height: 40px;
    img {
      width: inherit;
      height: inherit;
    }
  }
}

.js {
  color: #ffca00;
}

.reactjs {
  color: aqua;
}

.scss {
  color: pink;
}

.css {
  color: dodgerblue;
}

.html {
  color: orangered;
}

.git {
  color: #e84d31;
}

.github {
  color: #000;
}

.linkedin {
  color: dodgerblue;
}
